.logo-slider-container {
  position: relative;
}

.logo-track {
  overflow: hidden;
}

.logo-slide {
  display: flex;
  gap: 60px;
}

.logo {
  flex-shrink: 0;
  height: 60px;
  width: auto;
}

.logo-nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;

  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: 700;
  color: var(--wp--preset--color--contrast);
  transition: font-size 0.2s;
}

.logo-nav-arrow:hover {
  font-size: 24px;
}

.logo-left-arrow {
  left: -50px;
}

.logo-right-arrow {
  right: -50px;
}