.swiper-container.blog-swiper {
  cursor: grab;
}

.swiper-container.blog-swiper .swiper-slide {
  display: flex;
  background-color: var(--wp--preset--color--contrast);
}

.swiper-container.blog-swiper .swiper-slide-content {
  padding: 40px 20px;
  color: var(--wp--preset--color--base);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--wp--preset--spacing--twenty);
  flex: 1;
}
.swiper-container.blog-swiper .swiper-slide-content > * {
  margin: 0;
}
.swiper-container.blog-swiper .swiper-slide h3 {
  font-size: var(--wp--preset--font-size--large);
  font-weight: 500;
}
.swiper-container.blog-swiper .swiper-slide .post-date {
  font-weight: 600;
}

.swiper-container.blog-swiper .swiper-slide .wp-element-button:hover {
  color: var(--wp--preset--color--contrast);
}

.swiper-container.blog-swiper .swiper-slide-image {
  flex-basis: 150px;
}

.swiper-container.blog-swiper .cta-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--wp--preset--spacing--twenty);
  color: var(--wp--preset--color--base);
  height: auto;
  max-height: 328px;
}
.swiper-container.blog-swiper .cta-slide p {
  font-family: var(--wp--preset--font-family--secondary);
  font-size: var(--wp--preset--font-size--medium);
  font-weight: 600;
  margin: 0;
}
.swiper-container.blog-swiper .swiper-controller-wrap {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: var(--wp--style--block-gap);
}

@media only screen and (max-width: 767px) {
  .swiper-container.blog-swiper .swiper-controller-wrap {
    justify-content: center;
  }
}
.swiper-container.blog-swiper .swiper-button-next,
.swiper-container.blog-swiper .swiper-button-prev {
  z-index: 1;
  position: relative;
  color: var(--wp--preset--color--contrast);
  margin-top: 0;
}

.swiper-container.blog-swiper .swiper-button-next {
  right: auto;
}
.swiper-container.blog-swiper .swiper-button-prev {
  left: auto;
}
/* .swiper-container.blog-swiper .swiper-button-prev:after {
  transform: rotate(90deg);
} */
.swiper-container.blog-swiper .swiper-pagination.swiper-pagination-fraction {
  width: 100px;
  position: relative;
  top: auto;
  bottom: auto;
  font-size: var(--wp--preset--font-size--medium);
  font-weight: 600;
  cursor: auto;
}
