html body .fade-up {
  visibility: visible;
  transform: translateY(0);
}

html body .home-hero-h1 {
  visibility: visible;
}

html body .blob-container .blob {
  color: var(--wp--preset--color--contrast) !important;
}

html body .logo-wall {
  figure {
    width: min(250px, 100%);
  }
}