@use 'utilities' as *;

:root {
  // Sets "normal" font size for catch-all. Same as "Small" font size
  --wp--preset--font-size--normal: clamp(1rem, 0.875rem + 0.333vw, 1.125rem);
}

* {
  box-sizing: border-box !important;
  line-height: 1.6;
}

html {
  position: relative;
  overflow-x: clip;
}

body {
  overflow-x: clip;
}

a:where(:not(.wp-element-button)) {
  transition: 0.2s color;
}

.wp-block-list {
  > * + * {
    margin-top: var(--wp--preset--spacing--flex-small);
  }
}

// Highlight colour

*::selection {
  background-color: #f4a259;
  color: #31493c;
}

// Custom Scroll Bar

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(#31493c, 0.4);
}

::-webkit-scrollbar-thumb {
  background: rgba(#31493c, 0.6);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(#31493c, 0.4);
}

html body {
  .entry-content {
    margin-top: 0;
  }
}
