@use 'utilities' as *;

html body {

  .logo-link {
    font-size: 0;
  }

  .site-logo {
    max-width: 169px;
    width: 100%;
  }

  .custom-nav {
    .wp-block-navigation-item {
      &:last-child {
        .wp-block-navigation-item__content {
          border-bottom: 2px solid var(--wp--preset--color--accent);
  
          &:hover {
            border-bottom: 2px solid var(--wp--preset--color--contrast);
          }
        }
      }
    }
  
    .wp-block-navigation-item__content {
      border-bottom: 2px solid transparent;
      transition: 0.2s border-bottom;
  
      &:hover {
        border-bottom: 2px solid var(--wp--preset--color--accent);
      }
    }
  }

  // Buttons

  .wp-block-button {
    .wp-block-button__link.wp-element-button {
      transition: color 0.2s, background-color 0.2s, border-color 0.2s;

      display: flex;
      gap: 5px;
      align-items: center;

      &:after {
        content: '';
        background-color: currentColor;
        display: inline-block;
        width: 10px;
        aspect-ratio: 1;
        mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z'/%3E%3C/svg%3E");
      }
    }

    // &:hover {

    // }

    // OUTLINE BUTTON
    &.is-style-outline {
      &:hover {
        .wp-block-button__link.wp-element-button {
          background-color: var(--wp--preset--color--accent);
        }
      }
    }

    // WHITE BUTTON
    // &.white-btn {
    //   .wp-block-button__link.wp-element-button {
    //     color: var(--wp--preset--color--white);
    //     border-color: var(--wp--preset--color--white);
    //   }

    //   &:hover {
    //     .wp-block-button__link.wp-element-button {
    //       border-color: var(--wp--preset--color--accent);
    //       color: var(--wp--preset--color--accent);
    //     }
    //   }
    // }

    // Forms

    .frm-fluent-form {

      fieldset {
        >div+* {
          margin-top: 20px;
        }
      }

      .ff-name-field-wrapper .ff-t-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      .ff-el-group {
        margin-bottom: 0;
      }

      input,
      textarea {
        background-color: transparent;
        border-radius: 10px;
        padding: 10px 20px;
        border: 2px solid var(--wp--preset--color--contrast);
        resize: none;
        font-family: var(--wp--preset--font-family--secondary);
        font-size: var(--wp--preset--font-size--small);

        &::placeholder {
          color: var(--wp--preset--color--accent) !important;
        }
      }

      .ff-btn-submit {
        border: none;
        border-bottom: 2px solid var(--wp--preset--color--contrast);
        padding: 0;
        font-size: var(--wp--preset--font-size--button);
        transition: 0.2s color, 0.2s border-bottom;
        background-color: transparent;
        cursor: pointer;

        &:hover {
          border-bottom: 2px solid var(--wp--preset--color--accent);
          color: var(--wp--preset--color--accent);
        }
      }
    }
  }
}