@use 'utilities' as *;

div.wp-site-blocks {

  .logo-link {
    font-size: 0;
  }

  .site-logo {
    max-width: 169px;
    width: 100%;
  }

  .custom-nav {
    .wp-block-navigation-item {
      &:last-child {
        .wp-block-navigation-item__content {
          border-bottom: 2px solid var(--wp--preset--color--accent);

          &:hover {
            border-bottom: 2px solid var(--wp--preset--color--contrast);
          }
        }
      }
    }

    .wp-block-navigation-item__content {
      border-bottom: 2px solid transparent;
      transition: 0.2s border-bottom;

      &:hover {
        border-bottom: 2px solid var(--wp--preset--color--accent);
      }
    }
  }

  // Buttons

  .wp-block-button {
    .wp-block-button__link.wp-element-button {
      transition: color 0.2s, background-color 0.2s, border-color 0.2s;

      --button-circle-stop: 0%;

      background: radial-gradient(circle at center,
          var(--wp--preset--color--accent) 0%,
          var(--wp--preset--color--accent) var(--button-circle-stop),
          transparent var(--button-circle-stop), );

      display: flex;
      gap: 5px;
      align-items: center;

      // &:hover {
      //   --button-circle-stop: 100%;
      //   // color: var(--wp--preset--color--base);
      // }

      &:after {
        content: '';
        background-color: currentColor;
        display: inline-block;
        width: 10px;
        aspect-ratio: 1;
        mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z'/%3E%3C/svg%3E");
      }
    }
  }

  // Forms

  .frm-fluent-form {

    .wp-block-button.is-style-outline button {
      border-color: var(--wp--preset--color--accent);
      border-width: 2px;
      border-style: solid;
      color: currentColor;
      padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
    }

    input,
    textarea {
      background-color: transparent;
      border-radius: 0px;
      padding: 10px 20px;
      border: 2px solid var(--wp--preset--color--contrast);
      resize: none;
      font-family: var(--wp--preset--font-family--secondary);
      font-size: var(--wp--preset--font-size--small);
      color: var(--wp--preset--color--contrast) !important;

      &:focus {
        background-color: transparent;
        border-color: var(--wp--preset--color--accent);
        outline: 1px solid var(--wp--preset--color--base);
      }

      &::placeholder {
        color: var(--wp--preset--color--contrast) !important;
        font-size: var(--wp--preset--font-size--paragraph);
      }
    }
  }

  .orange-form .frm-fluent-form {

    .wp-block-button.is-style-outline button {
      &:hover {
        color: var(--wp--preset--color--contrast) !important;
      }
    }

    input,
    textarea {
      border: 2px solid var(--wp--preset--color--accent);
      color: var(--wp--preset--color--base) !important;

      &::placeholder {
        color: var(--wp--preset--color--base) !important;
      }
    }


  }

  // Cover button dark hover

  :where(.wp-block-cover:not(.has-text-color)) {
    .is-style-outline {
      &:hover {
        color: var(--wp--preset--color--contrast);
      }
    }
  }

  .home-hero-h1 {
    line-height: 1.4;
    visibility: hidden;


    mark {
      line-height: inherit;
    }
  }

  .hero-padding {
    padding-top: var(--wp--preset--spacing--flex-med);
    padding-bottom: calc(20vw - 1rem);

    .home & {
      padding-top: calc(113.55px + var(--wp--preset--spacing--flex-large));
    }
  }

  .home-hero {
    .wp-block-cover__background {
      background: linear-gradient(to right, var(--wp--preset--color--base) 50%, rgba(238, 234, 231, 0.6));
      background-color: transparent !important;
    }

    .wp-block-cover__image-background {
      left: 50%;
      width: 50%;
    }
  }

  .green-flow-section {
    overflow: visible;
    margin-block: calc(15vw - 1rem);

    .home & {
      margin-block-start: 0;
    }

    .top-curve,
    .bottom-curve {
      max-width: none;
      position: absolute;
      z-index: -1;
      margin-right: calc(var(--wp--style--root--padding-right)* -1) !important;
      margin-left: calc(var(--wp--style--root--padding-left)* -1) !important;
      fill: var(--wp--preset--color--contrast) !important;
    }

    .top-curve {
      top: 0;
      transform: translateY(-99%);
    }

    .bottom-curve {
      bottom: 0;
      transform: translateY(99%);
    }
  }

  .svg-ill-columns {

    @media (max-width: 1300px) {
      .flex-basis-fixed {
        flex-basis: 0 !important;
        flex-grow: 1 !important;
      }
    }

    hr {
      border-width: 4px;
      width: 60%;
      margin-left: 0;
    }

    svg {
      width: 100%;
      height: auto;
      overflow: visible;
    }
  }

  .svg-bg {
    position: absolute;
    inset: 0;
    height: 100% !important;
  }

  .svg-underline-group {
    line-height: 0;
  }

  .svg-underline {
    height: 4px !important;
    overflow: visible;
    transform: translateY(4px);
    width: 100%;

    &.svg-underline-fat {
      height: 10px !important;
      transform: translateY(10px);
    }
  }

  .blob-container {
    max-width: 800px;
    margin: auto;
    display: flex;

    .blob {
      flex-shrink: 0;
      flex-basis: 800px;
      min-height: 800px;
      padding: var(--wp--preset--spacing--flex) var(--wp--preset--spacing--flex-med);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      svg {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        overflow: visible;
        fill: var(--wp--preset--color--contrast)
      }
    }
  }

  .read-more-group {
    display: flex;
    flex-direction: column;
  }

  .read-more {
    position: relative;
    padding-right: 20px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    --read-more-rotate: 45deg;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%) rotate(var(--read-more-rotate));
      border-right: 2px solid var(--wp--preset--color--contrast);
      border-bottom: 2px solid var(--wp--preset--color--contrast);
      width: 5px;
      aspect-ratio: 1;
    }
  }

  .read-more-highlight {
    font-weight: 600;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      transform: translateY(100%);
      background-color: var(--wp--preset--color--accent);
    }
  }

  .read-more-expand {
    overflow: hidden;
  }

  .steps-pin-section {
    padding-block: clamp(4.688rem, -6.25rem + 29.167vw, 15.625rem);
  }

  .steps-content-column {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    svg {
      overflow: visible;
      fill: var(--wp--preset--color--contrast);
    }

    p {
      position: absolute;
      opacity: 0;
      margin: 0;
      padding: 100px;
      color: var(--wp--preset--color--base);
    }
  }

  .steps-container {
    p {
      transform-origin: left;
    }
  }

  .blog-archive {
    margin-block-start: 0;

    .wp-container-core-post-template-is-layout-1 {
      @media (max-width: 900px) {
        grid-template-columns: 1fr;
      }
    }
  }

  .blog-card {
    display: flex;
    background-color: var(--wp--preset--color--contrast);
  }

  .blog-card-content {
    flex: 1;
    padding: 40px 20px;

    .wp-block-read-more {
      border-color: var(--wp--preset--color--accent);
    }
  }

  .blog-card-image {
    flex-basis: 150px;
    margin-top: 0;
  }

  .blog-card-image,
  .swiper-slide-image {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .blog-archive .wp-block-post:nth-child(4n+1),
  .swiper-slide:nth-child(4n+1) {

    .blog-card-image,
    .swiper-slide-image {
      background-image: url(/assets/decoration-1.svg);
    }
  }

  .blog-archive .wp-block-post:nth-child(4n+2),
  .swiper-slide:nth-child(4n+2) {

    .blog-card-image,
    .swiper-slide-image {
      background-image: url(/assets/decoration-2.svg);
    }
  }

  .blog-archive .wp-block-post:nth-child(4n+3),
  .swiper-slide:nth-child(4n+3) {

    .blog-card-image,
    .swiper-slide-image {
      background-image: url(/assets/decoration-3.svg);
    }
  }

  .blog-archive .wp-block-post:nth-child(4n+4),
  .swiper-slide:nth-child(4n+4) {

    .blog-card-image,
    .swiper-slide-image {
      background-image: url(/assets/decoration-4.svg);
    }
  }
}