@use 'utilities' as *;

header {
  &.is-position-sticky {
    position: sticky;
    top: var(--wp-admin--admin-bar--position-offset);
    z-index: 10;
  }
}

// .header-row {
//   .logo-link {
//     font-size: 0;
//   }

//   .site-logo {
//     max-width: 169px;
//     width: 100%;
//   }
// }

// .header-nav {
//   .wp-block-navigation__container {

//     @media (max-width: 1200px) {
//       gap: 50px !important;
//     }

//     @include breakpoint("tablet") {
//       gap: 20px !important;
//     }
//   }

//   .wp-block-navigation-item__label {
//     transition: 0.2s color;

//     &:hover {
//       color: var(--wp--preset--color--accent);
//     }
//   }
// }

// Burger earlier

// @media (max-width: 1100px) {
//   .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
//     bottom: 0;
//     display: none;
//     left: 0;
//     position: fixed;
//     right: 0;
//     top: 0;
//   }

//   .wp-block-navigation__responsive-container-open:not(.always-shown) {
//     display: flex;
//   }
// }

footer.wp-block-template-part {
  margin-block-start: 0;
}

.footer-columns {
  @include breakpoint("tablet") {
    flex-direction: column;
    gap: var(--wp--preset--spacing--flex-med);
  }
}